.ui360{
  margin:40px auto;
  width:0;
}
.ui360-vis .sm2-360ui {
margin-left: -298px;
background-image: url('../img/junci-casper-sm.jpg');
background-size: cover;
    background-repeat: no-repeat;
}
body{
  background: transparent;
}
.ui360 a.sm2_link {
  display: none;
}