@font-face {
  font-family: Agency;
  src: url('AgencyFB.woff');
}
html,body,div,header,footer,a,p,h1,h2,h3,h4,h5,ul{
  padding:0;
  margin:0;
}
body {
  padding-bottom: 40px;
  color:#d8d8d8;
  background: url('../img/bg_b.jpg') 50% 0% repeat;
  font-family: 'Century Gothic',verdana,arial,helvetica,sans-serif;
  overflow-x:hidden; 
}
a{
  text-decoration: none;
  color:#00baff;
}
h2{
  padding:20px 0 10px;
}
h3{
  padding:10px 0;
}
h4{
  padding:30px 0 5px;
  text-align: center
}
h1,h2,h3,h4{
  color:#EFEFEF;
}

/*BACKGROUND*/
#bg_glow{
  position: absolute;
  width: 1024px;
  left: 50%;
  margin-left: -512px;
  z-index: -10;
  top:0;
}

/*COLORBAR*/
.colorbar{
  width:100%;
  height:5px;
  background-color: white;
}

/*MAIN*/
#main{
  max-width: 900px;
  margin:10px auto;
}
#content{
  margin-left: 130px;
  margin-top: 20px;
  margin-right: 25px;
}
#content p{
  padding-top: 5px;
}

/*HEADER*/
#header{
  position: fixed;
  top:6px;
  left:0;
  font-family: Agency;
}
#header ul{
  list-style: none;
}
#iio{
  margin-bottom:10px;
}
#iio a{
  font-size: 80px;
  color:white;
  background-color: #00baff;
  padding: 0 25px 10px;
  border-top: 1px solid #00baff;
  border-bottom: 1px solid #00baff;
}
#iio a:hover{
  color:#00baff;
  background-color: white;
}
#header ul{
  margin-top: 15px;
}
#header li{
  margin-top: 10px;
}
#header p{
  border-bottom: 1px solid gainsboro;
  display: inline;
  font-size: 26px;
  color:white;
  padding:5px 15px 5px 16px;
}
#header p:hover, #header #active{
  background-color:white;
  color:#00baff;
}

/*FOOTER*/
#footer{
  position: fixed;
  left:0;
  bottom:0;
  width:100%;
  font-size: 14px;
  font-family: Agency;
  background-color: white;
  color:black;
  padding:1px 0;
}
#footer a{
  color:black;
  padding:0 5px;
}
#footer a:hover{
  color:#00baff;
}
#footer .left{
  padding-left: 5px;
}

/*ARROW BUTTON CONTAINER*/
.arrows_btns{
  width:100%;
  margin: 30px 0px;
}
.btn_wrap{
  width: 380px;
  margin:0 auto;
}

/*TESTS*/
#categories a{
  color:white;
  font-size: 20px
}
#categories{
  padding: 10px 20px;
  list-style: square;
}

/*BUTTON*/
.big-btn {
  font-family: 'Trebuchet MS';
  display: inline-block;
}
.btn-iio, .btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #00baff, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00baff), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #00baff, #0077b3);
  background-image: -o-linear-gradient(top, #00baff, #0077b3);
  background-image: linear-gradient(to bottom, #00baff, #0077b3);
  background-repeat: repeat-x;
  border-color: #0077b3 #0077b3 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-iio:hover, .btn-primary{
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #00A6E3, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00A6E3), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #00A6E3, #0077b3);
  background-image: -o-linear-gradient(top, #00A6E3, #0077b3);
  background-image: linear-gradient(to bottom, #00A6E3, #0077b3);
  background-repeat: repeat-x;
  border-color: #0077b3 #0077b3 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
a.btn-iio:hover{
  text-decoration: none;
  color:white;
}
.big-btn a, .big-btn button {
  padding: 15px 10px;
  font-size: 20px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -khtml-border-radius: 15px;
}
.big-btn .grey{
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: whiteSmoke;
  background-image: -moz-linear-gradient(top,white,#a1a1a1);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(white),to(#a1a1a1));
  background-image: -webkit-linear-gradient(top,white,#a1a1a1);
  background-image: -o-linear-gradient(top,white,#a1a1a1);
  background-image: linear-gradient(to bottom,white,#a1a1a1);
  background-repeat: repeat-x;
  border: 1px solid #BBB;
  border-color: #a1a1a1 #a1a1a1 #a1a1a1;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #A2A2A2;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
  color: black;
}
.big-btn .grey:hover{
      color:black;
      text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
      background-color: whiteSmoke;
      background-image: -moz-linear-gradient(top,#dedede,#a1a1a1);
      background-image: -webkit-gradient(linear,0 0,0 100%,from(#dedede),to(#a1a1a1));
      background-image: -webkit-linear-gradient(top,#dedede,#a1a1a1);
      background-image: -o-linear-gradient(top,#dedede,#a1a1a1);
      background-image: linear-gradient(to bottom,#dedede,#a1a1a1);
      background-repeat: repeat-x;
      border: 1px solid #BBB;
      border-color: #a1a1a1 #a1a1a1 #a1a1a1;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
      border-bottom-color: #A2A2A2;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
      filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
      -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    }

/*UNIVERSALS*/
a,h2,canvas,input[type='submit'],.btn,#drag_overlay{
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
#header p,#footer a{
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}
.top,.bottom{
  position: absolute;
}
.top{
  top:0
}
.bottom{
  bottom: 0
}
.left{float:left}
.right{float:right}
.blue{
  background-color:#00baff;
  color:white;
  padding:0 3px;
}
.kwd{
  color: #65B042;
}
.big-arrow{
  display: none;
}