html,body,div,canvas{
	padding:0;
	margin:0;
}
html{
	background-color: black;
}
canvas{
	margin: 5px;
	float: left;
	border: 1px solid gainsboro;
}
#iio_log{
	margin:10px;
}
#iio_log p{
	margin:3px;
	color:white;
}
.clear{clear:both}